
/* Goole fonte listet forneden: */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


/* CSS root (variabler) */

:root{
--main-headingfont: 'Poppins', sans-serif; 
--main-textfont: 'Noto Serif', serif;
}


@media screen and (max-width:767px){
    
    #searchbar, #list, .web-navbar-list{
    display: none;
    }
    
    body{
    margin: 0;
    padding: 0;
    background-color:#FAF7F2;
    }   
    
    
    /* styling til den men mobile menu-bar */
    .menu li, a {
    color: #6D6E71;
    list-style: none;
    text-decoration: none;
    font-family: var(--main-headingfont);
    }
 
    
    .header{
        background-color: #FFFFFF;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    
    .header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
        
    }
    
    .header ul a{
    display: block;
    outline: 1px solid #6D6E71;
    outline-style:solid;
    padding: 20px;
  
    }
    
    .header ul a:hover{
    background-color:#FAF7F2;
    }
    
    .header .logo{
    float: left;
    display: block;
    }
    
    .header .menu{
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
        
    }
    
    #logo{
    width: 100px;
    margin-left: 18px;
    margin-top: 10px;
    }
    
    .header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    }
    
    
    .header .menu-icon .nav-icon{
    background-color: #6D6E71;
    display: block;
    height: 2px;
    top: 5px;
    width: 18px;
    position: relative;
    transition:background 2.s ease-out;
    }
    
    .header .menu-icon .nav-icon:before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2 ease-out;
    top: 10px;
    background:#6D6E71;
    }
    
    .header .menu-icon .nav-icon:after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 5px;
    position: absolute;
    transition:all .2 ease-out;
    background:#6D6E71;
        
    /* check her */
    }
    
    .header .menu-button{
    display: none;
        
    }
    
    .header .menu-button:checked ~ .menu{
    max-height: 350px;    
    }
    
    
 /* main styles nu */
    
    .banner{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    }
    
    #banner-picture{
    width:99.9%;
    }
    
    .banner h1{
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 15px;
    text-align: center;
    margin-top: -155px;
    
    
    }
    
    .banner button{
    color: black;
    background-color: #FAF7F2;
    font-family: 'Poppins', sans-serif; 
    border-color: #FAF7F2;
    
    }
    
    .banner a{
    margin-top: -50px;    
    }
    
    .box-1{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: var(--main-textfont);
    margin-top: 10px;
    }
    
    .box-1 p{
    margin-left: 4%;
    margin-top: 30px;
    line-height: 1.5;
    margin-right: 4%;
    color: #6D6E71;
    }
    
    .box-1 img{
    width: 100px; 
    margin-top: 30px;
    }
    
    .box-2{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: var(--main-textfont);  
    margin-top: 30px;
    }
    
    .box-2 p{
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
    color: #6D6E71;
    margin-top: 30px;
    }
    
    .box-2 img{
    width: 100px;
    }
    
    .box-3{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: var(--main-textfont);   
    }
    
    .box-3 p{
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
    color: #6D6E71;    
    margin-top: 20px;
    }
    
    .box-3 img{
    width: 110px;
    margin-top: 20px;
    }
    
    #hr-line{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: #6D6E71;   
    }
    
    .donation-box{
    width: 99.9%;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    align-items: center;
    text-align: center;
    }
    
    .donation-box h2{
    line-height: 1.2;
    color: #6D6E71;
    font-family: var(--main-headingfont);
    margin-left: 4%;
    margin-right: 4%;
    }
    
    .donation-box img{
    width: 100px;    
    }
    
    .donation-box a{
    color:#6D6E71;
    background-color:#FAF7F2;
    font-family: var(--main-textfont);
    }
    
    .donation-box button{
    background-color: #FAF7F2;
    font-family: var(--main-textfont);
    padding-right: 20px;
    padding-left: 20px;
    border-color: #6D6E71;
    border-width: thin;
    }
    
    
    /* footer styling */
    
    footer{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-around;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
    }
    
    footer ul li{
    font-family: var(--main-headingfont);
    color: #6D6E71;
    list-style: none;
    }
    
    footer ul li:hover{
    color: darkgray;    
    }
    
    #hr-lines{
    width: 95%;    
    }
    
    .logos img{
    width: 40px;    
    border-radius: 40px;
    padding: 5px;
    }
    
    .copyright{
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    color: #6D6E71;
    font-family: var(--main-textfont);
    font-size: 11px;
    }
    
    .copyright p{
    margin: 0;
    padding: 0;
    margin-left: 4%;
    }
    
    .donation-box button:hover{
            background-color:gray;

    }
    
    .banner button:hover{
     background-color:gray;
    border-color: gray;

    }
    
    
}

    
    @media only screen and (min-width:768px) and (max-width:1024px) 
    {
        
        #searchbar, #list, .web-navbar-list{
    display: none;
    }
        
         body{
    margin: 0;
    padding: 0;
    background-color:#FAF7F2;
    }   
    
    
    /* styling til den men mobile menu-bar */
    .menu li, a {
    color: #6D6E71;
    list-style: none;
    text-decoration: none;
    font-family: var(--main-headingfont);
    }
 
    
    .header{
        background-color: #FFFFFF;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    
    .header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
        
    }
    
    .header ul a{
    display: block;
    outline: 1px solid #6D6E71;
    outline-style:solid;
    padding: 20px;
  
    }
    
    .header ul a:hover{
    background-color:#FAF7F2;
    }
    
    .header .logo{
    float: left;
    display: block;
    }
    
    .header .menu{
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
        
    }
    
    #logo{
    width: 100px;
    margin-left: 18px;
    margin-top: 10px;
    }
    
    .header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    }
    
    
    .header .menu-icon .nav-icon{
    background-color: #6D6E71;
    display: block;
    height: 2px;
    top: 5px;
    width: 18px;
    position: relative;
    transition:background 2.s ease-out;
    }
    
    .header .menu-icon .nav-icon:before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2 ease-out;
    top: 10px;
    background:#6D6E71;
    }
    
    .header .menu-icon .nav-icon:after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 5px;
    position: absolute;
    transition:all .2 ease-out;
    background:#6D6E71;
        
    /* check her */
    }
    
    .header .menu-button{
    display: none;
        
    }
    
    .header .menu-button:checked ~ .menu{
    max-height: 350px;    
    }
    
    
 /* main styles nu */
    
    .banner{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    }
    
    #banner-picture{
    width:99.9%;
    }
    
    .banner h1{
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 32px;
    text-align: center;
    text-align: center;
    margin-top: -600px;
    
    }
    
    .banner button{
    color: black;
    background-color: #FAF7F2;
    font-family: 'Poppins', sans-serif; 
    border-color: #FAF7F2;
    font-size: 30px;
    
    }
    
    .banner a{
    margin-top: -100px;
    

    }
    
    .box-1{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: var(--main-textfont);
    margin-top: 10px;
    }
    
    .box-1 p{
    margin-left: 4%;
    margin-top: 30px;
    line-height: 1.5;
    margin-right: 4%;
    color: #6D6E71;
    }
    
    .box-1 img{
    width: 100px; 
    margin-top: 30px;
    }
    
    .box-2{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: var(--main-textfont);  
    margin-top: 30px;
    }
    
    .box-2 p{
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
    color: #6D6E71;
    margin-top: 30px;
    }
    
    .box-2 img{
    width: 100px;
    }
    
    .box-3{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: var(--main-textfont);   
    }
    
    .box-3 p{
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
    color: #6D6E71;    
    margin-top: 20px;
    }
    
    .box-3 img{
    width: 110px;
    margin-top: 20px;
    }
    
    #hr-line{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: #6D6E71;   
    }
    
    .donation-box{
    width: 99.9%;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    align-items: center;
    text-align: center;
    }
    
    .donation-box h2{
    line-height: 1.2;
    color: #6D6E71;
    font-family: var(--main-headingfont);
    margin-left: 4%;
    margin-right: 4%;
    }
    
    .donation-box img{
    width: 100px;    
    }
    
    .donation-box a{
    color:#6D6E71;
    background-color:#FAF7F2;
    font-family: var(--main-textfont);
    }
    
    .donation-box button{
    background-color: #FAF7F2;
    font-family: var(--main-textfont);
    padding-right: 20px;
    padding-left: 20px;
    border-color: #6D6E71;
    border-width: thin;
    }
    
    
    /* footer styling */
    
    footer{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-around;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
    }
    
    footer ul li{
    font-family: var(--main-headingfont);
    color: #6D6E71;
    list-style: none;
    }
        
        footer ul li:hover{
    color: darkgray;    
    }
    
    #hr-lines{
    width: 95%;    
    }
    
    .logos img{
    width: 40px;    
    border-radius: 40px;
    padding: 5px;
    }
    
    .copyright{
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    color: #6D6E71;
    font-family: var(--main-textfont);
    font-size: 11px;
    }
    
    .copyright p{
    margin: 0;
    padding: 0;
    margin-left: 4%;
    }
    
    .donation-box button:hover{
            background-color:gray;

    }
    
    .banner button:hover{
     background-color:gray;
    border-color: gray;

    }
    
        
        
/* ipad styling: */
}




@media only screen and (min-width: 1025px) {

    .menu-button, .menu-icon, .menu{
    display: none;
    }
    
    body{
    margin: 0;
    padding: 0;
    background-color:#FAF7F2;
    }
    
  .header{
        background-color: #FFFFFF;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
        width: 100%;
        z-index: 3;
        display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    }
    
    
    #logo{
    width: 100px;   
    margin-left: 40px;
    }
    
    .header ul li img{
    width: 30px;    
    }
    
    .header ul li{
    list-style: none;
    font-family: var(--main-headingfont);
    padding: 10px;
    display: flex;
    flex-flow:  row wrap;
    align-content: center;
    color: #6D6E71;
    }
    
    .header ul li:hover{
    color: darkgray;
    }
    
    #list{
    display: flex;
    flex-flow: row wrap;
   width: 20%;
    align-content: center;
    justify-content: center;
    }
    
    #searchbar{
    width: 40%;
    font-family: var(--main-headingfont);
    border:2px solid #6D6E71;
    margin-left: 170px;
    }
    
    .web-navbar-list{
    width: 100%;
    background-color: black;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 30px;
    align-content: center;
    }
    
    .web-navbar-list ul{
    display: flex;
    height: 20px;
    width: 70%;
    justify-content: space-around;
    margin-right: 5%;
    }
    
    .web-navbar-list ul li a{
    font-family: var(--main-headingfont);
    color: #6D6E71;
    text-decoration: none;
    }
    
    .web-navbar-list ul li a:hover{
    color: lightgray;
    }
    
    .banner img{
    width: 99.9%;  
    height: 640px;
    }
    
   .banner{
    width: 99.9%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    }
    
    #banner-picture{
    width:99.9%;
    }
    
    .banner h1{
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 45px;
    text-align: center;
    margin-top: -530px;
    
    
    }
    
    .banner button{
    color: black;
    background-color: #FAF7F2;
    font-family: 'Poppins', sans-serif; 
    border-color: #FAF7F2;
    font-size: 20px;
    padding-left:100px;
    padding-right: 100px;
    
    }
    
    .banner a{
    margin-top: -50px;    
    }
    
    
    .containerz{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1%;
    }
    
    .box-1, .box-2, .box-3{
    width: 25%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    }
    
    .box-1 img, .box-2 img, .box-3 img{
    width: 100px;  
    }
    
    .box-1 p, .box-2 p, .box-3 p{
    font-family: var(--main-textfont);   
    font-size: 13px;
    line-height: 1.5;
    }
    
    .box-1 img{
    width: 140px;
    }
    
    .box-3 img{
    width: 90px;    
    }
    
    
    #hr-line{
    width: 90%;    
    }
    
     .donation-box{
    width: 99.9%;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    align-items: center;
    text-align: center;
    }
    
    .donation-box h2{
    line-height: 1.2;
    color: #6D6E71;
    font-family: var(--main-headingfont);
    margin-left: 4%;
    margin-right: 4%;
    font-size: 30px;
    }
    
    .donation-box img{
    width: 200px;    
    }
    
    .donation-box a{
    color:#6D6E71;
    background-color:#FAF7F2;
    font-family: var(--main-textfont);
    }
    
    .donation-box button{
    background-color: #FAF7F2;
    font-family: var(--main-textfont);
    padding-right: 20px;
    padding-left: 20px;
    border-color: #6D6E71;
    border-width: thin;
    font-size: 20px;
    }
    
    .donation-box button:hover{
            background-color:gray;

    }
    
    .banner button:hover{
     background-color:gray;
    border-color: gray;

    }
    
    footer{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-around;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
    }
    
    footer ul li{
    font-family: var(--main-headingfont);
    color: #6D6E71;
    list-style: none;
    }
    
    footer ul li:hover{
    color: darkgray;    
    }
    
    #hr-lines{
    width: 95%;    
    }
    
    .logos img{
    width: 40px;    
    border-radius: 40px;
    padding: 5px;
    }
    
    .copyright{
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    color: #6D6E71;
    font-family: var(--main-textfont);
    font-size: 11px;
    }
    
    .copyright p{
    margin: 0;
    padding: 0;
    margin-left: 4%;
    font-size: 15px;
    }
}

    