
/* Goole fonte listet forneden: */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* CSS root (variabler) */

:root{
--main-headingfont: 'Poppins', sans-serif;   
}


@media screen and (max-width:500px){
    body{
    margin: 0;
    padding: 0;
    background-color:#FAF7F2;
    }   
    
    
    /* styling til den men mobile menu-bar */
    .menu li, a {
    color: #6D6E71;
    list-style: none;
    text-decoration: none;
    font-family: var(--main-headingfont);
    }
 
    
    .header{
        background-color: #FFFFFF;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    
    .header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
        
    }
    
    .header ul a{
    display: block;
    outline: 1px solid #6D6E71;
    outline-style:solid;
    padding: 20px;
  
    }
    
    .header ul a:hover{
    background-color:#FAF7F2;
    }
    
    .header .logo{
    float: left;
    display: block;
    }
    
    .header .menu{
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
        
    }
    
    #logo{
    width: 50px;
    margin-left: 18px;
    }
    
    .header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    }
    
    
    .header .menu-icon .nav-icon{
    background-color: #6D6E71;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition:background 2.s ease-out;
    }
    
    .header .menu-icon .nav-icon:before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2 ease-out;
    top: 5px;
    background:#6D6E71;
    }
    
    .header .menu-icon .nav-icon:after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2 ease-out;
    top: -5px;
    background:#6D6E71;
    }
    
    .header .menu-button{
    display: none;
        
    }
    
    .header .menu-button:checked ~ .menu{
    max-height: 350px;    
    }
    
    
 /* main styles nu */
    
    .banner{
    width: 99.9%;
    }
    
    #banner-picture{
    width: 499px; 
    }
    
    .banner h1{
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 15px;
    margin-top: -100px;
    margin-left: 10%;
    }
    
    .banner button{
    color: black;
    background-color: #FAF7F2;
    font-family: 'Poppins', sans-serif; 
    margin-top: 20px;
    margin-left: 40%;
    padding-left: 2%;
    padding-right: 2%;
    border-color: #FAF7F2;
    }
    
    
}


@media only screen and (min-width: 1024px) {}
@media only screen and (min-width:768px) and (max-width:1023px) {}
@media screen and (min-width:501px){}
