/* Goole fonte listet forneden: */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');



/* CSS root (variabler) */

:root{
--main-headingfont: 'Poppins', sans-serif; 
--main-textfont: 'Noto Serif', serif;
}


@media screen and (max-width:500px){
    body{
    margin: 0;
    padding: 0;
    background-color:#FAF7F2;
    }   
    
    
    /* styling til den men mobile menu-bar */
    .menu li, a {
    color: #6D6E71;
    list-style: none;
    text-decoration: none;
    font-family: var(--main-headingfont);
    }
 
    
    .header{
        background-color: #FFFFFF;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    
    .header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
        
    }
    
    .header ul a{
    display: block;
    outline: 1px solid #6D6E71;
    outline-style:solid;
    padding: 20px;
  
    }
    
    .header ul a:hover{
    background-color:#FAF7F2;
    }
    
    .header .logo{
    float: left;
    display: block;
    }
    
    .header .menu{
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
        
    }
    
    #logo{
    width: 100px;
    margin-left: 18px;
    margin-top: 10px;
    }
    
    .header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    }
    
    
    .header .menu-icon .nav-icon{
    background-color: #6D6E71;
    display: block;
    height: 2px;
    top: 5px;
    width: 18px;
    position: relative;
    transition:background 2.s ease-out;
    }
    
    .header .menu-icon .nav-icon:before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2 ease-out;
    top: 10px;
    background:#6D6E71;
    }
    
    .header .menu-icon .nav-icon:after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 5px;
    position: absolute;
    transition:all .2 ease-out;
    background:#6D6E71;
        
    /* check her */
    }
    
    .header .menu-button{
    display: none;
        
    }
    
    .header .menu-button:checked ~ .menu{
    max-height: 350px;    
    }
    
    .picture{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    }
    
    #product-picture{
    width:  400px;    
    margin-top: 30px;
    }
    
    .buy{
    width: 60%;    
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: var(--main-textfont);
    align-items: center;
    margin-top: -70px;
    border: 1px solid black;
    }
    
    .buy button{
    font-family: var(--main-textfont);
    color: white;
    background-color: #934398;
    border-radius: 30px;
    border-color: #FAF7F2;  
    border-width: thin;
   

    }
    
    
    .header-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: var(--main-headingfont);
    font-size: 11px;
    }
    
    
   
    
    .other-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    
    .other-content h2{
    font-family: var(--main-headingfont);   
    font-size: 20px;
    }
    
    .container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    }
    
    .product-description{
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
     border-bottom: 1px solid gray;
    

    
    }
    
    .product-description h3{
    margin-left: 5%;
    font-family: var(--main-headingfont);
    
    }
    
    .content h5{
    font-family: var(--main-headingtext);
    font-size: 11px;
    }
    
    .content{
    width: 80%;
    height: auto;
    background-color: white;
    color: gray;
    font-family: var(--main-textfont);
    font-size: 11px;
    margin-left: 5%;
    line-height: 2;
    display: none;
    }
    
    .content p{
    font-family: var(--main-textfont);   
    }
    
    .product-description:hover .content{
    display: block;    
    }
    
   
     
    .product-description:nth-last-child(1){
    border: none;
        
    
    }
   

    
}